[aria-expanded="true"].expand_more {
    display: none;
  }
[aria-expanded="true"].expand_less {
    display: inline-block;
  }
  [aria-expanded="false"].expand_more {
    display: inline-block;
  }
  
[aria-expanded="false"].expand_less {
    display: none;
  }

  .page-link {
     border-color:#198754;
    &:hover {
      color: #fff;
      background-color: #198754;
      border-color: #198754;
    }
  }
  
 