hr {
    background-color:#dee2e6;
    border-top:1px solid #dee2e6;
    margin-bottom:16px;

}

a:-webkit-any-link {
    color:initial;
    text-decoration: none;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;   
}
