.sideBar {
    a {
        &:hover {
            color: #198754 !important;
        }

        &:active {
            color: #198754 !important;
        }
    }
}

.nav {
	
	min-width: 296px;
	min-height:100vh;

}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000000 !important;
	}

    


.nav-link:hover, .nav-link:focus {
    color:#198754 !important;
}


.list-group-item.active {
    z-index: 2;
    color: #212529;
    background-color: #F8F9FA;
    border-color: #CED4DA;
}

.searchBtn{
    color: #212529;
	&:hover {
		color: #0000005c;
	}

}
.ringIcon {
	color: #212529;
	&:hover {
		color: #0000005c;
	}
}

.searchBar:focus {
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.1);   
}


